backend/.env
frontend/.env.local
.env
.env.local

# ==========================
# IDE
.idea/
.vscode/

# ==========================
# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/

# ==========================
# Celery

celerybeat-schedule

# ==========================
# OS
.DS_Store

# ==========================
# Migrations
# ==========================
backend/alembic/versions/


!backend/alembic/__init__.py

# ==========================
# Logs
# ==========================
*.log

.venv/

# Node
node_modules/
.next/

# Docker
.dockerignore