# ================================================
# TENDERZONE — Production .env
# ================================================

PUBLIC_URL_BASE=ht

APP_NAME=TenderZone
APP_ENV=production
SECRET_KEY=
ALGORITHM=
ACCESS_TOKEN_EXPIRE_MINUTES=60
REFRESH_TOKEN_EXPIRE_DAYS=30

# Docker ichida db va redis hostlari
DATABASE_URL=
SYNC_DATABASE_URL=
REDIS_URL=

ENCRYPTION_KEY=

# YouTube — bu yerni o'zingizning kalitlaringiz bilan to'ldiring
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=

# Instagram
INSTAGRAM_APP_ID=
INSTAGRAM_APP_SECRET=
INSTAGRAM_REDIRECT_URI=

#Linkedin:
LINKEDIN_CLIENT_ID=
LINKEDIN_CLIENT_SECRET=
LINKEDIN_REDIRECT_URI=

# Telegram
TELEGRAM_BOT_TOKEN=

FRONTEND_URL=

UPLOAD_DIR=
MAX_FILE_SIZE=

